<%= form_for(@permiso) do |f| %>
  <% if @permiso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permiso.errors.count, "error") %> prohibited this permiso from being saved:</h2>

      <ul>
      <% @permiso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo_permiso %><br>
    <%= f.number_field :codigo_permiso %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
