<h1>Listing procesos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre proceso</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @procesos.each do |proceso| %>
      <tr>
        <td><%= proceso.nombre_proceso %></td>
        <td><%= link_to 'Show', proceso %></td>
        <td><%= link_to 'Edit', edit_proceso_path(proceso) %></td>
        <td><%= link_to 'Destroy', proceso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proceso', new_proceso_path %>
