<h1>Listing usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Apellido2</th>
      <th>Perfil</th>
      <th>Correo</th>
      <th>Twitter</th>
      <th>Nickname</th>
      <th>Pass</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nombre %></td>
        <td><%= usuario.apellido %></td>
        <td><%= usuario.apellido2 %></td>
        <td><%= usuario.perfil %></td>
        <td><%= usuario.correo %></td>
        <td><%= usuario.twitter %></td>
        <td><%= usuario.nickname %></td>
        <td><%= usuario.pass %></td>
        <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario', new_usuario_path %>
