<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @usuario.apellido %>
</p>

<p>
  <strong>Apellido2:</strong>
  <%= @usuario.apellido2 %>
</p>

<p>
  <strong>Perfil:</strong>
  <%= @usuario.perfil %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @usuario.correo %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @usuario.twitter %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @usuario.nickname %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @usuario.pass %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
